h1{
	width: 100%;
	text-align: center;
	
}

h2{
	width:100%;
	text-align:center;
}

img {
	width: 380px;
	height: 450px;
}

#s2{
	height: 700px;
}

#s3{
	height: 700px;
}

#s4{
	height: 700px;
}
.box{
	margin: auto;
	text-align:center;
	font-size: 75px;
	
}